body {
    background-image: url(darkbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    margin: 40px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    height: 100%; 
    overflow: hidden;
}
.firstsec {
    height: 100vh;
    box-sizing: border-box;
}
.aboutsec {
    height: 100vh;
    background-image: url(lessdark.png);
    border-radius: 25px;
    box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
}

.backgroundofmeimg {
    background: linear-gradient(to right, #647DEE, #7F53AC);
	animation: gradient 10s ease infinite;
    background-size: 250% 250%;
    position: relative;
    padding: 30px;
    height: 250px;
    width: 300px;
    top: 50px;
    left: 530px;
    border-radius: 15px;
    box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    z-index: 9999;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.meimg {
    position: relative;
    left: 25px;
    height: 250px;
    z-index: 9999;
}
.backgroundofmeimg titletext {
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #3F3C3A;
    position: relative;
    font-size: 25px;
    top: -27px;
    left: 120px;
    text-align: right;
    width: 100%;
    animation: Slide_Left 2s ease;
}

.gitimg {
    position: relative;
    left: -50px;
    top: 70px;
    height: 50px;
    animation: normal;
}
.linkedinimg {
    position: relative;
    left: 0px;
    top: 70px;
    height: 50px;
    animation: normal;
}
.instaimg {
    position: relative;
    left: 50px;
    top: 70px;
    height: 50px;
    animation: normal;
}


@keyframes Slide_Left {
    from {
      margin-left: -30px;
    }
    to {
      margin-left: 0;
    }
}

.box {
    background: linear-gradient(-45deg, #1250ed, #9330f5);
    border-radius: 20px;
    position: relative;
    padding: 60px;
    height: 250px;
    width: 550px;
    top: 100px;
    left: 350px;
    text-align: center;
    box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    animation: Slide_Up 1.4s ease;
    z-index: 888;
    
}

@keyframes Slide_Up {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateX(0px);
    }
}

.box bigtext {
    position: relative;
    top: 30px;
    font-weight: 900;
    font-size: 60px;
    text-shadow: 2px 2px 4px #3F3C3A;
}
.box smalltext {
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    position: relative;
    top: 15px;
    font-size: 30px;
}

.nextpagearrow {
    position: relative;
    left: 655px;
    bottom: -160px;
    height: 60px;
    animation: normal;
    border-radius: 10px;
}
.nextpagearrow:hover {
    background-color: #696664;
}
